---
import Aside from "../components/Aside.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex justify-between items-center bg-gradient-to-b from-white to-gray-700 h-screen w-screen"
  >
    <div class="w-24 h-full border">
      <Aside />
    </div>
    <div class="w-full h-full flex flex-col justify-between">
      <slot />
      <Footer />
    </div>
  </body>
</html>
